.left {
    opacity: 0;
    transform: translateX(-50%);
}
.right {
    opacity: 0;
    transform: translateX(50%);
}
.hidden {
    opacity: 0;
}

@media (orientation: portrait) {
    .right {
        transform: translateX(30%);
    }
    .left {
        transform: translateX(-30%);
    }
  }
/*     transform: translateX(30%); */