html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-size: cover;
  background-image: url('./assets/bg.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-size: cover;
  margin-top: -3vh;
  /* padding-bottom: 5%; */
}

.c1 {
  /* background-image: url('./assets/bg_1.png'); */
  padding-bottom: 5%;
}
.c2 {
  /* background-image: url('./assets/bg_2.png'); */
  padding-bottom: 7%;
    width: 101vw;
}
.c3 {
  /* background-image: url('./assets/bg_3.png'); */
  padding-bottom: 13%;
}
